body{margin: 0;}
nav{display: flex;justify-content: center;background-color:transparent;
}
.container{display: flex;justify-content: space-between;
margin: 0;gap: 545px;
}
.container ul {list-style-type: none;display: flex;text-decoration: none;
justify-content: space-between;gap: 40px;padding-top: 10px;
}
.container img{height: 24px;padding-top: 30px;}

.container li a{text-decoration: none;transition: color 1s ease-in-out;
  font-family: 'Mandali', sans-serif;
}
.container li a:hover{color: #1ce1ac;}






.conteiner {max-width: 1140px;
width: 100%;margin: 0 auto;}
.col {height: 50px;}
.row {display: flex;
  margin-bottom: 30px;
  gap: 30px;padding-top: 150px;}
.col-1 {width: 8.333333333333333%;}
.col-2 {width: 16.66666666666667%;}
 .col-4 {width: 33.33333333333333%;}
.col-3 {width: 25%;}
.col-5 {width: 41.66666666666667%;}
.col-7 {width: 58.33333333333333%;}
.col-9 {width: 75%;}
.col-12 {width: 100%;}
.col-6 {width: 50%;}


/* SECTION-HOME */
.col-6 p {padding-bottom: 35px;}
img {max-width: 100%;}
#home p {color: #6c757d;}

#home{background: url(../images/hero-bg.png) no-repeat top right;}


.green{color: #1ce1ac;}

#home .discount{color: #6c757d;width: 220px;height: 30px;padding: 0;
  border-radius: 3px;background-color: #f8f9fa;
  border:1px solid #eceff2 ;font-size: 16px;font-family:'Mandali', sans-serif ;}

#home h1{color: #343a40;font-size: 60px;
line-height:1.5 ;margin:0 ;
font-family:'Lato', sans-serif ;
width: 500px;}
p {line-height: 1.7;font-size: 19px;}
.us a {color: #ffffff;padding-right: 10px;
  font-family: 'Mandali', sans-serif;font-size: 16px;}
.buttons img{width: 40px;position: absolute;right: 188px;}
.buttons {position: relative;}
.us {
  background: #1ce1ac  ;
  font-family: 'Mandali', sans-serif;border-radius: 30px;
  border: none;
}
.buttons .us {width: 185px;height: 40px;box-shadow: 0px 5px 20px #dbdfe4;}
.see {color: #536976;font-size: 16px;
font-family: 'Mandali', sans-serif;}

.buttons a {text-decoration: none;padding-left: 20px;}
.logos {display: flex;flex-direction: row;padding-bottom: 80px;
justify-content: space-between;
padding-top: 150px;}
.logos img {height: 38px;width: 142px;}




/* SECTION-MORE */

.title {display: block;align-items: center;
  text-align: center;padding-top: 90px;}

.title h2 {font-size: 30px;font-family:'Lato', sans-serif ;
letter-spacing: 2px;color: #343a40;}
h6 {color: #6c757d;font-size: 16px;
  font-family:'Lato', sans-serif ;}
#more {margin: 0;background: #f8f9fa;position: relative;}
.icon  {position:absolute;top: 320px;left: 435px;content: "";
background:linear-gradient(to top right,transparent 0%, #1ce1ac 100% );
 opacity: 0.15;
border-radius: 30% 70% 70% 30%/50% 50% 50% 50%;
width: 100px;height: 100px;} 
.icon1 {position:absolute;top: 320px;left: 790px;content: "";
  background:linear-gradient(to top right,transparent 0%, #1ce1ac 100% );
   opacity: 0.15;
  border-radius: 30% 70% 70% 30%/50% 50% 50% 50%;
  width: 100px;height: 100px;} 
  .icon2  {position:absolute;top: 320px;left: 1145px;content: "";
    background:linear-gradient(to top right,transparent 0%, #1ce1ac 100% );
     opacity: 0.15;
    border-radius: 30% 70% 70% 30%/50% 50% 50% 50%;
    width: 100px;height: 100px;} 

.boxes {display: flex;width: 1068px;justify-content: center;
  margin-top: 100px;margin-left:450px ;padding-bottom: 80px;}
#more .col-4 h5 {font-size: 22px;font-family: 'Lato', sans-serif; 
color: #343a40;letter-spacing: 2px;}
.col-4 p {font-size: 16px;color: #6c757d;
  font-family:'Mandali', sans-serif ;}
.col-4 a p {color: #f24734;
  letter-spacing: 1px;}
.col-4 a {text-decoration: none;}
.col-4 a img {height: 11px;}

 

/* SECTION-PROJECTS */

.list {display: flex;justify-content: center;padding-top: 30px;
}
.list ul li {list-style-type: none;background-color: #f8f9fa;}
.list ul{display: flex;justify-content: space-between;gap: 10px;}
.list li a {text-decoration: none;font-size: 16px;
  font-family:'Mandali', sans-serif ;padding: 0px 15px;}

.gr {color: #ffffff;background-color: #1ce1ac;
box-shadow:0px 2px 10px 0px #1ce1ac;border-radius: 3px;}

.row123 {display:flex;justify-content: center;}

.row456 {display: flex;justify-content: center;}

.photos img {height: 257px;}
.photos {padding-top: 25px;}

.row123 div {padding: 12px 12px;
  box-shadow:1px 15px 15px #d1d6d8;}
.row456 div {padding: 12px 12px;
  box-shadow:1px 15px 15px #d1d6d8;}
.des {font-size: 18px;color: #343a40;
  font-family:'Lato', sans-serif ;letter-spacing: 0.5px;}
.de {font-size: 16px;color: #6c757d;
  font-family:'Mandali', sans-serif ;}
#projects {padding-bottom: 90px;}




/* SECTION-TESTI */

#testi {background: #ffc21240;margin: 0;}
#testi .title p {font-size: 16px;font-family:'Mandali', sans-serif ;
  color:#6c757d ;padding-bottom: 80px;margin: 0;}
  #testi .title h6 {margin: 0;}

.card {display: flex;justify-content:center;width: 1110px;
margin-left: 400px;gap: 30px;padding-bottom: 30px;}
#testi .col-4{background-color: #ffffff;border-radius: 3px;margin: 0;
  position: relative;box-shadow: 5px 5px 30px #bdbfc09d ;height: 291px;width: 348px;
}
.col-4 h5 {font-size: 16px;color: #343a40;
  font-family:'Lato', sans-serif ;line-height: 1.5;}
.col-4 h6 {font-size: 16px;color: #343a40;
  font-family:'Lato', sans-serif ;margin: 0;}

.col-4 p {font-size: 16px;color: #343a40;
  font-family: 'Mandali', sans-serif;margin: 0;}
  .sign{height: 45px;position: absolute;bottom: 0px;right: 0px;}
.face{width: 60px;border-radius: 30px;}

.point {display: flex;justify-content: center;padding-bottom: 100px;gap: 8px;}
.point img {height: 8px;}
.content {padding: 25px;}


/* SECTION-NUMB */


#numb {margin: 0;background-color: #f8f9fa;
  display: flex;justify-content: center;gap: 160px;height: 295px;}
#numb span{font-size: 40px; color: #343a40;
  font-family:'Lato', sans-serif  ;}

#numb p {font-size: 16px;font-family:'Mandali', sans-serif ;
  color: #6c757d;}

.num{text-align: center;padding-top: 100px;}



/* SECTION-TEAM */

#team .foto {height: 403px;width: 261px;}
#team {margin: 0;}
#team .title h2 {margin: 0;padding-bottom: 15px;}
#team .title h6 {margin: 0;padding-bottom: 15px;font-size: 15px;}
.foto p{font-size: 16px;font-family:'Mandali', sans-serif  ;
color: #6c757d;margin: 0;}
.foto h5 {font-size: 17px;color: #343a40;
  font-family:'Lato', sans-serif ;letter-spacing: 1px;margin: 0;
  padding-top: 7px;}
#team .card {display: flex;justify-content: center;gap: 24px;
padding-bottom: 185px;}
#team .title p {font-size: 16px;color: #6c757d;
  font-family:'Mandali', sans-serif ;margin: 0;padding-bottom: 60px;}

.foto img{background-color: #f8f9fa;border-radius: 5px;}



/* SECTION-BOTTOM */
#bottom {position: relative;}
#bottom {margin: 0;background: url(../images/footer-light-bg.png) no-repeat center;
  background-color: #f8f9fa;}

.table {display: flex;justify-content: center;gap: 40px;
padding-top: 200px;padding-bottom: 60px;height: 240px;
}

.table li {list-style-type: none;line-height: 35px;}

.table a {text-decoration: none;font-size: 16px;
  color: #6c757d;font-family:'Mandali', sans-serif ;}
  .table li:hover {animation: myAnim 1s ease 0s 1 normal forwards;
    list-style-type: disc;}
  @keyframes myAnim {
    0% {
      transform: translateX(0);
    }
  
    100% {
      transform: translateX(20px);
    }
  }
.table h5 {font-family: 'Lato', sans-serif;font-size: 22px;
color: #343a40;letter-spacing: 1px;margin: 0;}

.table div {align-content: start;}
.table ul {padding: 0;}
.table div p {margin: 0;font-size: 16px;}
.table div img {padding-bottom: 14px;}
.l{padding-right: 60px;}
.a {padding-right: 40px;}



/* SECTION-HIDE */

.hide {background: url(../images/cta-bg.png);
  position: absolute;bottom:400px;left: 383px;
  background-color: #343a40;  display: flex; 
  justify-content: center; width: 1140px; height: 198px;
border-radius: 3px;}
.text h3 {color: #ffffff;font-size: 26px;
font-family:'Lato', sans-serif ;letter-spacing: 1px;
margin: 0;}
.text p {font-size: 16px;color: #ffffff;
  font-family:'Mandali', sans-serif  ;}

.text {width: 50%;padding-left: 60px;padding-top: 48px;
padding-bottom: 48px;}
.in {width: 50%;display: flex;justify-content: center;
padding-top: 68px;}

.input-holder {
  background: #ffffff1f;
  padding: 8px 8px;
  display: flex;margin-left: 10px;
}

.input-holder input {
  background: none;
  border: none;font-family:'Mandali', sans-serif  ;
  height: 42px;width: 255px;font-size: 16px;
}
.input-holder {height: 42px;}
.input-holder button {height: 43px;width: 133px;border: none;
  background-color: #1ce1ac;font-size: 16px;
font-family: 'Mandali', sans-serif ;border-radius: 5px;}
.input-holder button a {color: #ffffff;text-decoration: none;}
 ::placeholder {color: #d1d6d8;}










